.collection_title {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #121212;
    font-size: 17.5px;
}
.movie_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.movie_link {
    text-decoration: none;
}
.movie_card {
    width: 133px;
    background: #121212;
    margin: 7px;
    padding-bottom: 10px;
}
.movie_card_image {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}
.movie_title {
    text-decoration: none;
    color: white;
    font-size: 10px;
    margin: 0 3px;
    margin-top: 3px;
}
.page_form {
    display: flex;
    justify-content: space-between;
}
.page_links {
    height: 30px;
    padding: 5px;
    background: #252424;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: gray;
}
.recent {
    margin-top: 20px;
}
.recent_movie_list {
    display: flex;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.recent_movie_list::-webkit-scrollbar {
    width: 0;
}
.arrow-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}
.up-arrow {
    font-size: 23px;
    background-color: #252424;
    padding: 4px;
    border-radius: 50%;
    margin: 0 auto;
    color: white;
}
.scroll_buttons {
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 340px){
    .movie_card {
        width: 110px;
    }
}
@media screen and (min-width: 750px) {
    .scroll_buttons {
    display: block;    
    position: absolute;
    }
    .left-button {
    bottom: -1020px;
    left: 0;
    }
    .right-button {
    bottom: -1020px;
    right: 0
    }
    .arrow-box{
        margin-top: 20px;
    }
    .up-arrow {
        font-size: 30px;
        background-color: #252424;
        padding: 8px;
    }
    .collection_title {
        font-size: 23px;
    }
    .movie_card {
        width: 160px;
    }
    .movie_title {
        font-size: 13px;
    }
    .page_links {
        font-size: 18px;
        padding: 8px
    }
}